@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/material/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(../fonts/material/MaterialIcons-Regular.woff2) format('woff2'),
    url(../fonts/material/MaterialIcons-Regular.woff) format('woff'),
    url(../fonts/material/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

body {
  opacity: 0; }

body.loaded {
  animation: loadContent 0.6s linear;
  -webkit-animation: loadContent 0.6s linear;
  opacity: 1;
  }
nav .brand-logo  {
  max-height: 100%;
}

nav .brand-logo > img {
 margin-top: 7px;
 height:50px;
}

.music-color {
  color: #10a98d
}

.container-fluid {
  width:100%;
}

@media only screen and (min-width: 993px) and (max-width: 1280px){
  .container {
      width: 100%;
      padding:0 30px;
  }
}

@media only screen and (min-width: 601px) and (max-width: 992px){
  .container {
    width:100%;
    padding: 0 20px;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    width:100%;
    padding: 0 10px;
  }
}

@-webkit-keyframes loadContent {
  0% {opacity: 0; }
  100% {opacity: 1; }
}

@keyframes loadContent {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.top-nav{
  background-color: #e7e7e7;
}

.top-nav ul{
  padding:6px 0;
  margin:0px
}

.top-nav ul li {
  float:left;
}

.top-nav ul li a{
  padding: 0 15px;
  font-size: 14px;
  color: #666;
}

.top-nav ul li a:hover, a{
  color:#10a98d;
}

nav {
  background-color: #10a98d;
}
nav ul a {
  position:relative;
  padding-left: 0;
  padding-right: 0;
  margin: 0 10px;
}
nav ul a:hover {
  background-color: transparent;
}

nav ul a::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transform: scaleX(0);
    transition: transform .2s, background-color .2s;
}

nav ul>li.active>a::before, nav.n ul>li>a.active::before, nav ul>li>a:hover::before {
    transform: scaleX(1);
}

footer.page-footer {
  background-color: #096957;
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

a:focus {
outline: none;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

main .had-container{
	margin-top:15px;
}

.logo-container{
	padding-top:10px!important;
}

.nav-logo{
	padding-top:30px;
	padding-bottom:30px;
}

.fa-2 {
    font-size: 20px!important;
}

.fa-3 {
    font-size: 30px!important;
}

.fa-4 {
    font-size: 40px!important;
}

.fa-5 {
    font-size: 50px!important;
}

.fa-6 {
    font-size: 60px!important;
}

.heading{
	padding-top:5px;
	padding-bottom:5px;
	margin-bottom:50px;
}

.modal {
  max-width: 450px;
}
.modal p {
  text-align: center;
  font-size: 1.2 em;
}

select {
  border:1px solid #9e9e9e;
}

#headerProfile {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height:300px;
  width:100%;
  position: relative;
}

#headerProfile.template {
  background-image: url("/files/templates/header_template.jpg");
}

#headerProfile h1 {
  color:white;
  margin: 0 auto;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

#headerProfile  a#profileBackground {
  position: absolute;
  top:30px;
  left:30px;
}

.progress {
  margin:0;
}

#headerProfileImage{
  position: relative;
  width:400px;
  margin-top: -80px;
  margin-left:auto;
  margin-right: auto;
}

#headerProfileImage a#profileImage {
  z-index: 10;
  position: absolute;
  top:30px;
  left:30px;
}

img#profilePic {

  border: 10px solid #fff;
  position: relative;
  z-index: 10;
  width:400px;
  height:auto;
}

form .error {
  color:red;
  font-size: 12px;
}
.divider {
  width:100%;
  margin-top: 8px;
}

a#editPersonalInfo {
    position: absolute;
    left: -30px;
}

@media only screen and (max-width: 600px){
  a#editPersonalInfo {
      position: relative;
      left: 0px;
      top:0px;
  }
}

#showPersonalInfo {
    position: relative;
}

#editProfile h5{
  text-align: center;
  margin-bottom: 20px;
}

form#formParties label, form#formGenre label, form#formBandType label, form#formInstruments label {
  padding: 0.5em 0;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }

label {color: #444}

#editProfile textarea {height: 4rem}
.image_list .col {
  position:relative;
}
.image_list img {max-width:100%}
.image_list .removePhoto {
  position: absolute;
  right:20px;
  top:10px;
}

.input-field .prefix {
  top:unset!important;
  font-size: 1rem;
  bottom: 0.5rem!important
}

.datepicker-date-display {
  display:none;
}

..datepicker-table tr td {
  color:#555;
}

.modal .modal-content {
  overflow-x: hidden;
}
.modal-icon {
  width:100%;
}
.modal-icon .material-icons {
  width:90px;
}

a.ui-state-default.ui-state-active {
  background-color:#10a98d;
  color:#fff;
  border-radius: 50%
}


.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/images/heroBgnd.jpg");
  height: 50vh;
  width:100%
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

.hero-text button:hover {
  background-color: #555;
  color: white;
}

.owl-dots {
  text-align: center;
}
.owl-dots button.owl-dot{
  height:12px;
  width:12px;
  margin: 0 5px;
  border:1px solid #10a98d;
  border-radius: 50%;
  display: inline-block;
}

.owl-dots button.owl-dot.active{
  background:  #10a98d;
}

.owl-nav {
    position: absolute;
    top: 30%;
    left: 0;
    z-index: 10;
    width:100%;
}

.owl-nav i {
  font-size: 64px;
  color: white;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
}

.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next {
  color: white;
}

button.owl-next.disabled, button.owl-prev.disabled {
  display:none;
}

@media screen and (max-width: 992px) {
  .owl-nav i {
    font-size: 70px;
  }
}

.owl-carousel .owl-nav button.owl-next {float:right;}
.owl-carousel .owl-nav button.owl-prev {float:left;}

.gradient {
  background: rgb(80,155,245);
  background: -moz-linear-gradient(120deg, rgba(80,155,245,0.8) 0%, rgba(148,73,177,0.8) 100%);
  background: -webkit-linear-gradient(1920deg, rgba(80,155,245,0.8) 0%, rgba(148,73,177,0.8) 100%);
  background: linear-gradient(120deg, rgba(80,155,245,0.8) 0%, rgba(148,73,177,0.8) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#509bf5",endColorstr="#9449b1",GradientType=1);
}

.gradient [type="checkbox"] + span:not(.lever):before, [type="checkbox"]:not(.filled-in) + span:not(.lever):after {
  border-color: white;
}

.gradient [type="checkbox"]:checked + span:not(.lever):before {
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    border-left: none;
    border-top: none;
}

.gradient .text-shadow{
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.7);
}

/* .divider {
  height: .5px;
  background: #000;
  background: -webkit-linear-gradient(left, rgb(255,255,255) 0%, rgb(50,50,50) 50%, rgb(255,255,255) 100%);
}
.divider.light {
  background: #fff;
  background: -webkit-linear-gradient(left, rgba(90,90,90,0) 0%, rgb(255,255,255) 50%, rgba(90,90,90,0) 100%);

}

.divider.light:before {
  position:relative;
  float:left;
  background: linear-gradient(to right, rgba(100, 100, 100, 0), rgba(100, 100, 100, 1) 50%);
  margin-top:2px;
  width:50%;
  height:.5px;
  content:"";
}

.divider.light:after {
  position:relative;
  float:right;
  background: linear-gradient(to left, rgba(100, 100, 100, 0), rgba(100, 100, 100, 1) 50%);
  margin-top:2px;
  width:50%;
  height:.5px;
  content:"";
}

.divider:before {
  position:relative;
  float:left;
  background: linear-gradient(to right, rgba(200, 200, 200, 0), rgba(200, 200, 200, 1) 50%);
  margin-top:2px;
  width:50%;
  height:.5px;
  content:"";
}

.divider:after {
  position:relative;
  float:right;
  background: linear-gradient(to left, rgba(100, 200, 200, 0), rgba(200, 200, 200, 1) 50%);
  margin-top:2px;
  width:50%;
  height:.5px;
  content:"";
} */

.gradient [type="radio"]:not(:checked) + span:before, [type="radio"]:not(:checked) + span:after { border-color:white }
.gradient [type="radio"]:checked + span:after, [type="radio"].with-gap:checked + span:after {
    background-color: #fff;
    border-color:white;
}
.gradient-text {
background: -webkit-linear-gradient(#9449B1, #509bf5);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.home-filter .filter-title{
  font-size: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-filter .filter-title i{margin-right:0.5rem}

.gradient .select-wrapper input.select-dropdown {
  padding-left: 5px;
}

.gradient .input-field .select-wrapper input.select-dropdown{
  background-color: white;
  font-size: 20px;
}

.gradient input.datepicker{
  background-color: white;
  font-size: 20px;
  padding-left: 5px;
}

.gradient .irs--flat .irs-grid-text {
  color:white;
}

.irs--flat .irs-bar,  .irs--flat .irs-from, .irs--flat .irs-to,  .irs--flat .irs-single, .irs--flat .irs-handle>i:first-child {
  background-color: #10a98d
}

 .irs--flat .irs-from:before, .irs--flat .irs-to:before, .irs--flat .irs-single:before {
  border-top-color: #10a98d
}

.gradient button#submit {
  background-color: #10a98d;
}

.gradient .select-wrapper input.select-dropdown:focus {
    border-bottom: 1px solid #ed5565;
}

.gradient button#submit:hover {
  background-color: #096957;
}

h1 {
  margin: 0.2em;
  font-size: 3rem;
}

h2 {
  margin: 0.2em;
  font-size: 2.4rem;
}

#Search {
  display: flex;
  justify-content:center;
  margin-bottom: 2rem;
}

#Search #searchQuery, #Search #searchBtn{

  padding: 0 20px;
  margin-bottom: 0px;
  box-shadow: none;
  max-width: 100%;

}

#Search #searchQuery {
  width:400px;
  border: 1px solid #10a98d!important;
  border-radius: 23px;
  height:46px;
}

#Search #searchBtn{
  border-radius: 24px;
  height:48px;
  margin-left: 10px;
}

@media all and (min-width: 601px ) and (max-width: 992px) {
  #Search #searchQuery {
    width:320px;
    border-radius: 19px;
    height:38px;
  }

  #Search #searchBtn{
    border-radius: 19px;
    height:40px;
  }

}

@media all and (max-width: 600px) {
  #Search #searchQuery {
    width:240px;
    border-radius: 14px;
    height:28px;
    line-height: 28px;
    font-size: 16px;
  }

  #Search #searchBtn{
    border-radius: 14px;
    height:30px;
    padding: 0 10px;
    line-height: 30px;
  }

}

#findMusicSidebar {
  border-right:1px solid #e0e0e0
}

#findMusicSidebar p.title {
  font-size: 1.4em;
  margin-bottom: 0;
}

#findMusicSidebar p.subtitle {
  color:#aaa;
  margin-top: 0;
}

#findMusicContent .card {
  display: flex;
}

#filterResults .card .card-content .card-title {
  font-weight: 400;
}

#filterResults .card .card-image{
  padding:0;
}

#filterResults a.btn.profile-link {
  position: absolute;
  bottom:24px;
}

@media only screen and (min-width: 1380px) {
  #filterResults .card {
    height:240px;
  }
}

@media only screen and (max-width: 1379px) and (min-width: 1180px){
  #filterResults .card {
    height:200px;
  }
}

@media only screen and (max-width: 1179px) and (min-width: 1024px){
  #filterResults .card {
    height:180px;
  }
  .card .card-content .card-title {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 1023px) and (min-width: 993px){
  #filterResults .card {
    height:170px;
  }

  #filterResults .card .card-content .card-title {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 992px) and (min-width: 787px){
  #filterResults .card {
    height:170px;
  }

  #filterResults .card .card-city {
    margin: 0.5em 0;
  }

  #filterResults .card .card-content .card-title {
    margin-bottom: 0;
  }

  .btn {
    font-size: 11px;
    height:30px;
    line-height: 30px;
  }
}

@media only screen and (max-width: 786px) and (min-width: 601px){
  h1 {
    font-size: 24px
  }

  #filterResults .card {
    height:120px;
  }

  #filterResults .card .card-city {
    margin: 0.2em 0;
  }

  #filterResults .card .card-content {
    padding: 12px;
  }

  #filterResults a.btn.profile-link {
    bottom:12px;
  }

  #filterResults .card .card-content .card-title {
    font-size: 18px;
    margin-bottom: 0;
  }

  .btn {
    font-size: 11px;
    height:30px;
    line-height: 30px;
    padding:0 10px;
  }

  .card .card-city {
    /*display:none;*/
  }
}

@media only screen and (max-width: 600px){

  h1 {
    font-size: 20px
  }

  #filterResults .card .card-content .card-title {
    font-size: 18px;
    margin-bottom: 0;
  }

  #filterResults .card .card-content {
    padding: 12px;
  }

  #filterResults a.btn.profile-link {
    bottom:12px;
  }

  h6.card-city{
    margin: 0;
    font-size: 13px;
  }

  .btn {
    font-size: 11px;
    height:24px;
    line-height: 24px;
    padding:0 6px;
  }

}

.fw-400{
  font-weight: 400;
}


.material-tooltip {
  max-width: 200px;
  font-size: 12px;
}

.btn, .btn-large, .btn-small {
  background-color: #10a98d;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.mt-1 {
  margin-top: 0.25rem
}

.mt-2 {
  margin-top: 0.50rem
}
.mt-3 {
  margin-top: 0.75rem
}
.mt-4 {
  margin-top:1rem
}

.ytBox {
  position: relative;
}

.ytBox .removeYT {
  position: absolute;
  right:14px;
  top: 5px;
}

.modal .modal-close {
  position: absolute;
  top: 0;
  right: 0;
}

.owl-carousel .card-image {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
}
.owl-carousel .card-image img {
	position: absolute!important;
	top: 0;
	left: 0;
	width: 100%;
}

.owl-carousel .card .card-content, .owl-carousel .card .card-reveal {
  padding:12px;
}

.owl-carousel .card .card-title {
  font-size: 20px;
}

#photos.owl-carousel .owl-item .gallery-item{
  height: 240px;
  overflow: hidden;
}

#photos.owl-carousel .owl-item a > img{
  height:100%;
  width: auto;
  margin-left: 50%;
  transform: translateX(-50%);
}

.gallery-item {
  position: relative;
}
.gallery-item img {
  opacity: 1;
  transition: opacity 0.35s;
}
.gallery-item::before {
  position: absolute;
  content: "";
}
.gallery-item:hover img {
  opacity: 0.6;
  transition: opacity 0.35s;
}

.page-footer {
  padding:0;
}

.calendar {
  max-width: 400px;
  width: 100%;
  margin:0 auto;
}

.calendar-heading {
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.current-month-year{
  font-size: 1.2em;
}

.current-month{
  margin:0.6em;
}

.calendar-table tr {
  border: none;
}

.calendar-table thead tr {
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
}

.calendar-table th {
  padding: 10px 5px;
  text-align: center;
  color: #999;
}

.calendar-table td {
  border-radius: 50%;
  padding: 0;
  text-align: center;
}

.calendar-table td.disabled {
    color: rgba(0, 0, 0, 0.3);
    pointer-events: none;
}

.calendar-table td.selected button{
  background-color: #096957;
  color: #fff;
}

.calendar-table td.today {
  color: #096957;
}



.calendar-day-button {
    background-color: transparent;
    border: none;
    line-height: 38px;
    height:38px;
    display: inline-block;
    width: 38px;
    border-radius: 50%;
    padding: 0 5px;
    cursor: pointer;
    color: inherit;
}

.calendar-day-button:focus {
  background-color: transparent;
}

#calendar tr {
  border-bottom: none;
}

.fc-ltr .fc-basic-view .fc-day-top .fc-day-number {
    text-align: center;
    display: block;
    float:none;
}

.fc-event, .fc-event-dot {
    background-color: #10a98d;
}

.fc-unthemed td.fc-today {
    background: #AEFFF0;
    font-weight: 500;
}

.fc-day-grid-event .fc-content {
  text-align: center;
}

.fc-header-toolbar h2{
  font-size: 24px;
}

button.fc-prev-button, button.fc-next-button {
  background: transparent;
  text-shadow: none;
  box-shadow: none;
  border: none;
  padding: 0;
}

.fc-day-grid-event .fc-time {
  display: none;
}

#datepicker_container {display: inline-block;}
#datepicker_container .modal {
  position:relative;
  width:100%;
  box-shadow: none
}

#datepicker_container .modal-overlay {
  display:none!important;
}

@media only screen and (min-width: 601px) {
  .calendar-day-button {
      line-height: 44px;
      height:44px;
      width:44px;
  }
}
